<div class='component-container'>
  <div class='list-component'>
    <production-angular-companies-list
      [companies]="companies"
      (selected)="selectCompany($event)"
      (deleted)="deleteCompany($event)"
    />
  </div>
  <!-- <div class='detail-component'>
    <production-angular-companies-detail
      [company]="selectedCompany"
      (saved)="saveCompany($event)"
      (cancelled)="resetForm()"
    ></production-angular-companies-detail>
  </div> -->
  <div class="detail-component">
    <production-angular-companies-details />
  </div>
</div>
